apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: sparsom-opprydding
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  liveness:
    path: isalive
  readiness:
    path: isready
  prometheus:
    enabled: true
    path: /metrics
  kafka:
    pool: nav-dev
  secureLogs:
    enabled: true
  openSearch:
    access: readwrite
    instance: sparsom
  env:
    - name: KAFKA_RAPID_TOPIC
      value: tbd.rapid.v1
    - name: KAFKA_CONSUMER_GROUP_ID
      value: tbd-sparsom-opprydding-v1
    - name: DATABASE_REGION
      value: "europe-north1"
    - name: DATABASE_INSTANCE
      value: sparsom
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
