apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: sparsom
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  strategy:
    type: Recreate
  replicas:
    disableAutoScaling: true
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  preStopHook:
    http:
      path: /stop
  resources:
    limits:
      memory: 1Gi
    requests:
      cpu: 50m
      memory: 64Mi
  prometheus:
    enabled: true
    path: /metrics
  kafka:
    pool: nav-prod
  openSearch:
    access: readwrite
    instance: sparsom
  accessPolicy:
    outbound:
      external:
        - host: opensearch-tbd-sparsom-nav-prod.a.aivencloud.com
          ports:
            - port: 26482
  secureLogs:
    enabled: true
  env:
    - name: KAFKA_RAPID_TOPIC
      value: tbd.rapid.v1
    - name: KAFKA_CONSUMER_GROUP_ID
      value: tbd-sparsom-v1
    - name: KAFKA_RESET_POLICY
      value: earliest
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
